 .main{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid green;
    background-color: black;
    
    
}
body{
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgb(156, 151, 151);
    color: white;
}
h1{
    color: pink;
}
h2{
    color: blueviolet;
}

h3{
    color: aqua;
}
h4{
    color: yellow;
}
h5{
    color: chocolate;
}
p{
    color:rgb(255, 153, 0) ;

}