
body{
    margin: 0;
    overflow: scroll;
    padding: 20px;
background-color:rgb(3, 1, 29);
color: beige;
}
nav{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 100%;

}
.xyz{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.nobi{
    margin-right: 200px;
}
ul{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 50px;
}
li{
    margin-left: 20px;
    list-style-type:disc

}
h1,h2{
    text-decoration: underline;
    text-align: center;
    
}
p{
    font-size: 25px;
}
.third{
    display: block;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    
}
img{
    height: 200px;
    width: 200px;
    border: 10px;
    border-radius: 30%;
}
.nobita{
    text-align: center;
}